array-exercises.zip
loops.zip
loops2.zip
functions-exercises.zip
functions-exercises/functions/__pycache__/
poo/classes/__pycache__/
poo/sistems/__pycache__/
poo/sistems/animals/__pycache__/
poo/sistems/transport/__pycache__/
poo/sistems/geometry/__pycache__/
poo/sistems/fact/__pycache__/
poo/sistems/education/__pycache__/